a:link {color: black; text-decoration:none; border-bottom: 1px dotted #000; }
a:visited {color: black; text-decoration:none; border-bottom: 1px dotted #000; }
a:hover {color: black; text-decoration:none; border-bottom: 1px dotted #000; }
a:active {color: black; text-decoration:none; border-bottom: 1px dotted #000; }
.linkstyle {color: black; text-decoration:none; border-bottom: 1px dotted #000; }
