.style1 {margin: 0px; padding: 0.4em; border: 0em solid rgb(204, 204, 204); max-width: 100%; font-size: 1em; font-family: 黑体; line-height: 2em; background-color: rgb(248, 247, 245); word-wrap: break-word !important; box-sizing: border-box !important;}
.style_title {font-size: 1.5em; background-color: white;}
.style_text {font-size: 1em; background-color: white;}
.style_button {font-size: 1em; background-color: rgb(248, 247, 245);}

